@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins-Regular.ttf');
}

body {
  font-family: Poppins, sans-serif;
}

.ct-chart {
  display: inline-block;
  margin: auto;
  width: 512px;
  height: 400px;
}

#chart1 .ct-label, #chart2 .ct-label, #chart3 .ct-label {
  font-size: 20px;
  fill: black;
}

#chart1 .ct-series-a .ct-slice-donut-solid, #chart2 .ct-series-a .ct-slice-donut-solid,
#chart3 .ct-series-a .ct-slice-donut-solid {
  fill: lightblue;
}

#chart1 .ct-series-b .ct-slice-donut-solid, #chart2 .ct-series-b .ct-slice-donut-solid,
#chart3 .ct-series-a .ct-slice-donut-solid {
  fill: blue;
}
